*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.c-f{
	position: relative;
	background: url("bg.jpg");
}
header{
	display: flex;
	height: 82px;
	/*background: red;*/
	justify-content: space-around;
	align-items: center;
}
header a{
	color: white;
	text-decoration: none;

}
.sitetitle{
font-size: 30px;
}
.menuBars{
	font-size: 20px;
	padding: 5px 10px;
	border: 1px solid white;
}
/*slide bar start*/
.slidBar{
	display: flex;
	height: 570px;
	justify-content: space-around;
}
.leftBar{
	width: 30%;
	height: 100%;
	/*background: red;*/
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.leftBar h2{
	color: white;
	line-height: 4;
}
.leftBar p{
	color: white;

}

.application{
width: 100%;
display: flex;
height:100px;
/*background: pink;*/
justify-content: space-between;
align-items: center;

}
.application div{
	height: 40px;
	width: 45%;
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 20px;
}




.rightBar{
	width: 45%;
	height: 100%;
	/*background: green;*/
	justify-content: center;
	display: flex;
	align-items: flex-end;
	


}
/*.imgbar{
	width: 100%;
	height: 90%;

}*/
/*.rightBar div*/
.rightBar img{
	width: 100%;
	height: 90%;
	object-fit: contain;


}
.down{
	padding: 10px;
	border: 1px solid white;
}
.down i{
	color: white;
	font-size: 20px;
}
/*slide bar end*/

.service {
	width: 100%;
	background: #EFF0F5;

	
}


.vernagir{

	/*background: green;*/
	width: 100%;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.service h1 {
	color: black;
    font-size: 30px;
    text-align: center;
}


.glxavor {
	width: 80%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	flex-wrap: wrap;


}

.iconbar{
	/*display: flex;
	width: 50%;
	height: 100px;*/
	/*justify-content: center;
	align-items: center;*/
	/*margin: 0 auto;*/
	width: 50px;
	height: 50px;
	border: 1px solid #000
}
.iconbar img{
width: 50%;
height: 50%;
filter: brightness(0.5);
}

.h {
text-align: center;
color: #6E7F80;
font size: 15px;
}

.row p {
	text-align: center;
}
.downBar p{
	    line-height: 1.7;
}


/*chisht dzev@*/

.row{
	/*width: calc(90% / 3);*/
	width: 300px;
	height: 300px;
	background: white;
	margin: 10px;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
